@import url('https://fonts.google.com/specimen/Roboto?subset=cyrillic-ext&noto.lang=bg_Cyrl&noto.script=Cyrl');

body {
    display: grid;
    grid-template-areas:
    "header header "
    "foto info"
    "footer footer";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 30% 1fr;
    grid-gap: 1px;
    height: 100vh;
    margin: 0;
}

header, footer, section, nav, div {
    padding: 20px;
    background: #2d2e2a;
}

header {
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

a, a:visited {
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    color: lightgray;
}

a:hover {
    border: 1px rgb(41, 120, 230) solid;
    border-radius: 5px;
}

.photoFrame {
    grid-area: foto;
}

.photo {
    height: 200px;
    background-image: url(../img/photo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 40px;
}

.fio {
    text-align: center;
}

.info {
    grid-area: info;
    display: flex;
    flex-wrap: nowrap;
}

h1, a, .about, .feedback {
    font-family: 'Roboto', sans-serif;
    border: none;
    color: lightgray;
}

footer {
    grid-area: footer;
}